
:root {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Redriver';
  src: local('Redriver'), local('Redriver'),
      url('/assets/font/Redriver.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #060715;
  text-decoration: none;
}

a:hover {
  color: #0a0a10;
  text-decoration: none;
}
.credits a{
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 0px 0px 0px;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: ui-sans-serif;
  margin: 0;
  color: #06070a;
}
.img-fluid {
  max-width: 100%;
  height: 56vh;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  font-family: ui-sans-serif;
  color: #08090b;
}

@media screen and (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
  .section-header h2{
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #0d0e0f;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #06060a;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #25d366;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

/* .back-to-top:hover {
  background: #0d0d11;
  color: #fff;
} */

.back-to-top.active {
  visibility: visible;
  opacity: 1;
  background: #25d366;
  z-index: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 20px rgba(63, 64, 68, 0.1);
  color: #fff;
  background: #222121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.header-scrolled {
  background: #222121;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(63, 64, 68, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  /* max-height: 40px;
  margin-right: 6px; */
  width: 200px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0d1015;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #fff;
  padding: 8px 8px;
  margin-left: 30px;
  border-radius: 4px;
  color: #000;
  box-shadow: 6px 5px 1px grey;
}


.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #000;
  background: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(65, 67, 72, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #0a0b10;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .megamenu {
  position: static;
}

.navbar .megamenu ul {
  margin-top: 5px;
  right: 0;
  padding: 10px;
  display: flex;
}

.navbar .megamenu ul li {
  flex: 1;
}

.navbar .megamenu ul li a,
.navbar .megamenu ul li:hover>a {
  color: #0f1113;
}

.navbar .megamenu ul li a:hover,
.navbar .megamenu ul li .active,
.navbar .megamenu ul li .active:hover {
  color: #0a0a0e;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1200px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 12, 15, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0c0e10;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #09090c;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
    background: black;
    color: #fff;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(77, 81, 91, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #0a0b0f;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  /* height: 100vh; */
   background-size: cover;
}
.hero .container {
  margin-top: 6rem;
}
.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #060708;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #121215;
  box-shadow: 0px 5px 30px rgba(55, 55, 64, 0.4);
}

.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    /* padding: 100px 0 60px 0; */
    padding: 100px 0 0px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #060607;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #070809;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #0c0d13;
  box-shadow: 0px 5px 25px rgba(65, 68, 80, 0.3);
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(65, 69, 80, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.values .box h3 {
  font-size: 24px;
  color: #0b0d11;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(65, 69, 76, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(66, 72, 82, 0.08);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #030413;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #030510;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(65, 70, 82, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #020305;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #0a0b11;
  color: #fff;
}

.features .feture-tabs {
  margin-top: 120px;
}

.features .feture-tabs h3 {
  color: #0c0f15;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}

.features .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #07090c;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}

.features .feture-tabs .nav-link.active {
  color: #030512;
  border-bottom: 3px solid #07080d;
}

.features .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #070b12;
}

.features .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #04050a;
}

.features .feature-icons {
  margin-top: 120px;
}

.features .feature-icons h3 {
  color: #030406;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #070a11;
}

.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #04060a;
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #e4dfdf;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
section#services {
  padding: 75px 0;
}

.services .service-box {
  box-shadow: 4px 5px 17px rgba(67, 74, 88, 0.2);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 15px;
}

.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-box h3 {
  color: #0c0b0b;
  font-weight: 700;
}

.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.services .service-box.blue {
  border-bottom: 3px solid #080c0f;
}

.services .service-box.blue .icon {
  color: #070b0d;
  background: #eff0f0;
}

.services .service-box.blue .read-more {
  color: #0a0f12;
}

.services .service-box.blue:hover {
  background: #090b0c;
}

.services .service-box.orange {
  border-bottom: 3px solid #060504;
}

.services .service-box.orange .icon {
  color: #0a0907;
  background: #f5f4f2;
}

.services .service-box.orange .read-more {
  color: #080706;
}

.services .service-box.orange:hover {
  background: #050504;
}

.services .service-box.green {
  border-bottom: 3px solid #050605;
}

.services .service-box.green .icon {
  color: #0a0e0b;
  background: #dfe3df;
}

.services .service-box.green .read-more {
  color: #090b0a;
}

.services .service-box.green:hover {
  background: #070808;
}

.services .service-box.red {
  border-bottom: 3px solid #100d0d;
}

.services .service-box.red .icon {
  color: #0b0708;
  background: #e1dddd;
}

.services .service-box.red .read-more {
  color: #090606;
}

.services .service-box.red:hover {
  background: #0e0c0c;
}


.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
  color: #fff;
}

.services .service-box:hover .icon {
  background: #fff;
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(67, 75, 91, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.pricing .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(60, 67, 79, 0.1);
}

.pricing h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.pricing .price {
  font-size: 36px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.pricing .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .price span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing img {
  padding: 30px 40px;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}

.pricing ul li {
  padding-bottom: 10px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #07070a;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #08080c;
}

.pricing .btn-buy:hover {
  background: #0a0a0c;
  color: #fff;
}

.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #0f0f11;
  color: #fff;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #07070a;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: 0.3s;
  border-radius: 50px;
  border: 1px solid #fff;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #010101;
  border-color: #0d0e11;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: 1s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(9, 10, 12, 0.2);
  border-left: 3px solid rgba(9, 11, 15, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(6, 8, 10, 0.2);
  border-right: 3px solid rgba(8, 12, 18, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #0f1217;
  font-weight: 700;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #06080b;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  background: #080a15;
  margin: 10px 2px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a i {
  font-size: 24px;
  line-height: 0;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #030309;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0c0d13;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #08080e;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(64, 72, 84, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(66, 76, 93, 0.1);
  background: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
  color: #0c0b06;
  margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #050507;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #040406;
}

.testimonials .swiper-slide {
  opacity: 0.3;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }

  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(65, 73, 86, 0.08);
  transition: 0.3s;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(9, 11, 14, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(11, 14, 18, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #0d0f13;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #0a0707;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(65, 74, 90, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
/* .clients .clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0e0f15;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0d0e13;
} */

.client-container {
  margin: 52px 0px;
}
.client-btn{
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}
.client-btn button{
  border-radius: 4px;
  background-color: #000;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  width: 150px;
  /* transition: all 0.5s; */
  
  
}
.client-btn button span {
  display: inline-block;
  color: #fff;
  position: relative;
  transition: 0.5s;
}
.client-btn button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -6.5px;
  right: -20px;
  font-size: 25px;
  transition: 0.5s;
}
.client-btn button:hover span {
  padding-right: 25px;
}

.client-btn button:hover span:after {
  opacity: 1;
  right: 0;
}

/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
.recent-blog-posts .post-box {
  box-shadow: 0px 0 30px rgba(67, 74, 86, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}

.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}

.recent-blog-posts .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(8, 10, 12, 0.6);
  display: block;
  margin-bottom: 10px;
}

.recent-blog-posts .post-box .post-title {
  font-size: 24px;
  color: #080a0c;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}

.recent-blog-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}

.recent-blog-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}

.recent-blog-posts .post-box:hover .post-title {
  color: #0d0d11;
}

.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  box-shadow: 1px 5px 10px rgba(67, 74, 88, 0.2);
  color: #0e0c0cea;
  background: #fff;
  padding: 30px;
  border-radius: 13px;
}
section#contact {
  padding:74px 0px;
  background: #f2f2f3;
  /* margin-top: 66px; */
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #060608;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #060709;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #12100f;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #070808;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #050706;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #090a0c;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email] {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #141418;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #0b0c11;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1200px){
  .contact .info-box {
    height: 17rem;
  }
}
/* ---------------------------------------------------------------
Map
--------------------------------------------------------------- */
  .map {
    margin: 0px 0px -5px;
}
.map iframe{
  border:0; 
  width: 100%; 
  height: 63vh;
}
@media screen and (max-width: 768px){
  .map iframe{
    height: 40vh;
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}

.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(66, 72, 90, 0.1);
}

.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: #020304;
  transition: 0.3s;
}

.blog .entry .entry-title a:hover {
  color: #060709;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #0d0f12;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li+li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.blog .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 24px;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #07080a;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #0c0c0f;
}

.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #0c0e13;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: #040911;
  display: inline;
}

.blog .entry .entry-footer a {
  color: #05090f;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #06070c;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li+li::before {
  padding-right: 6px;
  color: #e8edf1;
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(64, 70, 90, 0.1);
}

.blog .blog-author img {
  width: 120px;
  margin-right: 20px;
}

.blog .blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #05070b;
}

.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}

.blog .blog-author .social-links a {
  color: rgba(4, 5, 7, 0.5);
  margin-right: 5px;
}

.blog .blog-author p {
  font-style: italic;
  color: #b7b7b7;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}

.blog .blog-comments .comment .comment-img img {
  width: 60px;
}

.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #000000;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #0a0c10;
}

.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}

.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: #0d0f14;
  margin-bottom: 5px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(67, 66, 97, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #08090e;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #08090e;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-dark {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #0f1218;
}

.blog .blog-comments .reply-form .btn-dark:hover {
  background-color: #090c11;
}

.blog .blog-pagination {
  color: #070a10;
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li a {
  color: #090f1a;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: #111116;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(66, 70, 99, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #0b1018;
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}

.blog .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #09090c;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.blog .sidebar .search-form form button i {
  line-height: 0;
}

.blog .sidebar .search-form form button:hover {
  background: #0b0b0e;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li+li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #04070b;
  transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
  color: #050717;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: #0a0c10;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #03040a;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #030507;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #d7e6ff;
  display: inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #0b0c13;
  background: #060709;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #a5c5fe;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #222121;
  color:#fff
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #06070a;
}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #010204;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-newsletter form input[type=submit]:hover {
  background: #090a10;
}

.footer .footer-top {
  /* background: white url(../img/footer-bg.png) no-repeat right top; */
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 80px 0 80px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  /* margin-right:1.7rem; */
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 20rem;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #090d13;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
.footer .footer-top .footer-info p {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  /* text-align: justify; */
  text-transform: uppercase;
}
.footer-img img {
  width: 240px;
  padding: 0;
}
p.footer-address {
  font-size: 17px;
  margin-bottom: 22px;
}

.footer .footer-top .social-links a {
  font-size: 16px;
  display: inline-block;
  line-height: 0;
  margin-right: 2px;
  transition: 0.3s;
  background: #fff;
  color: #000;
  border: 2px solid transparent;
  padding: 8px;
}

.footer .footer-top .social-links a:hover {
  background: #000;
    border: 2px solid #fff;
    color: #fff;

}

.footer .footer-top h4 {
  font-size: 20px;
  /* font-weight: bold; */
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

/* .footer .footer-top .footer-links {
  margin-bottom: 30px;
} */

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  /* text-transform: uppercase; */
}

.footer .footer-top .footer-links ul a:hover {
  color: #c0b0b0;
}

.footer .footer-top .footer-contact p {
  line-height: 23px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #fff;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
p.footer-address i {
  padding-right: 9px;
}

@media (min-width: 900px){
  .extraclass{
    min-height: 273px;
  }
  .extraclass1{
    min-height: 201px;
  }
}
#headimg{
  transition: 0.5s all;
}
.logoimg{
  transform: rotate(0deg)  scale(1.5,1.5);
padding-left: 15px;
}

.requiredinput{
  color: var(--bs-body-color);
background-color: var(--bs-body-bg);
border-color: #960617;
outline: 0;
box-shadow: 0 0 0 .25rem rgb(227, 44, 44);
}
.requiredinput::after{
  color: red;
  content: "required";
}

@media (max-width: 480px){
  .col-lg-2.col-6.footer-links {
    width: 100%;
}
.footer .footer-top h4{
  margin-top: 1.2rem;
}
}

/* --------swiper js css------------- */
.swiper {
  width: 100%;
  height: 100vh;
  margin-top:60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height:100vh;
  object-fit: cover;
  object-position: center;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset,50%);
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
  /* width: 34px;
  height: 9px; */
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 1rem;
  background: grey;
  padding: 10px;
  border-radius: 24px;
  font-weight: bold;
  box-shadow: 1px 1px 10px;
  border: 1px  solid #fff;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 1rem;
  background: grey;
  padding: 10px;
  border-radius: 24px;
  font-weight: bold;
  box-shadow: 1px 1px 10px;
  border: 1px  solid #fff;
}

@media screen and (max-width: 768px){
  .swiper {
    height: auto;
    margin-top: 0px;
  }
  .swiper-wrapper {
    height: auto;
  }
  .swiper-slide img{
    height: auto;
    object-fit: contain;
  }
}
@media screen and (max-width: 320px){

}

/* Enquiry button */
/* .enquiry form{
  position: relative;
} */
.sidebar-form{
  position: fixed;
  top: -166px;
  z-index: 2;
  right: -25%;
  width: 25%;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  border-radius: 8px 0 0 8px;
  background-color: #fff;
  padding: 20px;
  transform:translateY(50%);
  transition: right .4s linear;
}
.sidebar-form.show{
  right: 0;
}
.sidebar-form .call-action{
  position: absolute;
  background-color: #000;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 7px 7px 0px 0px;
  line-height: 40px;
  cursor: pointer;
  left: -95px;
  top: 50%;
  transform: translateY(-50%)rotate(-90deg);

}
.sidebar-form h3{
  font-family: montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #000;

}
.sidebar-form .form-group{
  margin-bottom: 10px;

}
.sidebar-form .form-group label{
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 2px;
  color: grey;

}
.sidebar-form #submit-btn {
  width: 48%;
  border: none;
  margin-top: 8px;
  background-color: #000;
  padding: 7px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
.sidebar-form #cancel-btn {
  width: 48%;
  border: none;
  margin-top: 8px;
  background-color: transparent;
  padding: 7px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  border: 1px solid black;
  text-align: center;
  outline: none;
}
.sidebar-form #cancel-btn:hover {
  width: 48%;
  border: none;
  margin-top: 8px;
  background-color: #000;
  padding: 7px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  transition: .5s ease;
  border: 1px solid black;
  text-align: center;
  outline: none;
}
.enquiry-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-group textarea {
  width: 100%;
  height: 13vh;
  border:var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 6px;
}

@media (max-width: 1024px){
  .sidebar-form {
    right: -50%; /* Hide the form by default on mobile */
    top: 100px;
    width: 50%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .sidebar-form {
    right: -50%; /* Hide the form by default on mobile */
    top: 100px;
    width: 50%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    transform: translateY(0);
  }
  /* .sidebar-form.show {
    right: 0; 
  } */
}
@media (max-width: 480px) {
  .sidebar-form {
    right: -90%; /* Hide the form by default on mobile */
    top: 100px;
    width: 90%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    transform: translateY(0);
  }
  
}

------------------/* Our client */---------------------
 
.client-container {
    background: #fff;
    padding: 6rem 0;
}
.slider-client img{
  height: 5rem;
  /* width: 8rem; */
}
.customer-logos{
  display: flex;
  gap: 5rem;
}
.container-fluid h3 {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  font-family: ui-sans-serif;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px){
  .container-fluid h3{
    margin-top: 1rem;
    font-size: 28px;
    color: #08090b;
  }  
 }
  


/* -------------------Exprience------------------ */

.exprience {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../img/slider1.jpg');
  padding: 70px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.exprience h1 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  font-family: ui-sans-serif;
  padding-bottom: 2rem;
}
.year-exp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  flex-wrap: wrap;
  color: #fff;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work p {
  font-size: 18px;
}
.work h3 {
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}

.work .work-exp {
  display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    padding-top: 22px;
    margin-bottom: 30px;
    font-size: 25px;
    color: black;
    z-index: 1;
    transition: 0.3s ease;
}
.work .work-exp:before{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgb(249, 249, 249);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: 0.3s ease;
  z-index: -1;
  border-radius: 5px;
} 
.work:hover .work-exp:before{
  transform: rotate(0deg);
  color: #fff;
  box-shadow: none;
  border: 1px solid white;
  background-color: transparent;
}
.work:hover i{
  color: #fff;
  box-shadow: none;
}
.work-exp i.fa {
  padding-left: 25px;
}
.work-exp i.bi {
  padding-left: 26px;
}

.exprience img {
  height: 17rem;
}
.exprience-img {
  text-align: center;
  padding-bottom: 3rem;
}
div.value {
  font-size: 40px;
  font-weight: 100;
  font-family: sans-serif;
}

@media only screen and (max-width: 768px){
  .year-exp {
    flex-direction: column;
  }
  .exprience h1{
    font-size: 28px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
/* -----------------subscribes----------------- */
.subscriber {
  padding: 86px 0;
  text-align: center;
  background: #fff;
}
.subscriber .container h1 {
  padding-bottom: 2rem;
  font-size: 2.3rem;
  font-weight: 400;
  color: #000;
}
.subscriber form {
  margin: 40px auto 0 auto;
  width: 500px;
  position: relative;
}
input#emailSubscribe {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
  height: 45px;
  padding: 0 0px 0 15px;
  color: #000;
}

button#btnSubscribe {
  border: 0px solid #000;
  border-left: 2px;
  font-size: 21px;
  right: 19px;
  top: 0;
  font-weight: 700;
  background: transparent;
  color: #000;
  height: 45px;
  padding: 0 10px;
  position: absolute;
}
button#btnSubscribe:hover{
  color: #000;
}
p.error-message {
  text-align: left;
  color: red;
  padding-top: 3px;
  margin: 0;
  visibility: hidden;
}
.error-input {
  border: 2px solid red;
}
#subscriber {
  border: 2px solid #ccc;
}

@media only screen and (max-width: 992px){
  .subscriber form{
    width: 100%;
  }
}
@media only screen and (max-width: 768px){
  .subscriber .container h1{
    font-size: 1.5rem;
  }
}


